body#page-body {
    background-color: #222222;
    align-content: center;
}

div#main-content {
    width: 1024px;
    background-color: #ffffff;
    margin: 10px auto;
    padding: 32px;
}

#logo-name.logo {
    font-size: 42px;
    display: inline-block;
    color: #009fe0;
    font-family: Tahoma, Geneva, sans-serif;
}

#logo-position {
    font-size: 16px;
    color: #a9a9a9;
    font-weight: bold;
    margin-top:8px;
}

nav {
    font-size: 18px;
    float: right;
    position: relative;
    top: 22px;
}

#content-head nav menu {
    display: inline-block;
    margin-left: 42px;
    color: #a9a9a9;
    font-weight: bold;
}

img#banner {
    margin-top: 24px;
}
